@import url(./Asset/fonts/Fonts/WEB/css/clash-display.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'ClashDisplay-Variable';
    scroll-behavior: smooth;
    max-width: 100%;
    transition: .5s;
}